<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<h1>Create New Blog</h1>
<p><a href="/blog">Blog List</a></p>
<form th:action="@{/save}" method="post" th:object="${blog}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>

</form>

</body>
</html>